.add-book-form {
  display: flex;
  gap: 10%;
  margin-left: 3%;
}

.form-btn {
  color: #fff;
  background-color: #0290ff;
  border: none;
  border-radius: 3px;
  padding: 20px 60px;
}

.form-input {
  border: none;
}
